
/**
倪杨
2019-08-05
数据字典css
 */


#dataInfo{
    width: 100%;
    height:calc(100% - 3px);
}
.layui-form-checkbox span{height: 38px;}
.layui-form-label {width: 60px;}
.layui-table-tool-temp{padding-right: 0}
.layui-input-block input,select{width: 90%}